<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="test1">
        <parameter name="browser" value="chrome"/>
        <parameter name="url" value="https://www.google.com/"/>
        <classes>
            <class name="org.example.ParameterExample"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true"
          name="test2">
        <parameter name="browser" value="edge"/>
        <parameter name="url" value="https://www.google.com/"/>
        <classes>
            <class name="org.example.ParameterExample"/>
        </classes>
    </test>
</suite>